/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2.0em;
  font-weight: bold;
  color: #777777;
  margin: 40.0px 0.0px 70.0px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16.0pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400.0px;
}

.dialogVPanel {
  margin: 5.0px;
}

.serverResponseLabelError {
  color: red;
}

.wog-wizardButtonPanel {
	float: right;
}

.wog-wizardButton {
	margin-top: 10.0px;
	margin-right: 2.0px;
	margin-bottom: 5.0px;
	margin-left: 5.0px;
}

.wog-wizardContent {
	width: 450.0px;
	height: 300.0px;
}

.breadCrumb {
	margin-left: 5px;
}

.breadCrumbCurrent {
	font-weight: bold;
	margin-left: 5px;
}